@font-face {
  font-family: 'wprmenu';
  src:  url('../fonts/wprmenu.eot?p8o4s0');
  src:  url('../fonts/wprmenu.eot?p8o4s0#iefix') format('embedded-opentype'),
  url('../fonts/wprmenu.ttf?p8o4s0') format('truetype'),
  url('../fonts/wprmenu.woff?p8o4s0') format('woff'),
  url('../fonts/wprmenu.svg?p8o4s0#wprmenu') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wprmenu' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#wprmenu_menu .wprmenu_icon:before,
#wprmenu_bar [data-icon]:before {
  font-family: 'icomoon';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

#wprmenu_bar,
#wprmenu_bar *,
#wprmenu_menu,
#wprmenu_menu * {
  /* reset */
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box!important;
  -webkit-box-sizing: border-box!important;
  box-sizing: border-box!important;
  font-family: 'Open Sans', sans-serif;
  list-style: none;
  text-align: left;
  font-size: 100%;
  font-weight: normal;
}
#wprmenu_menu img,
#wprmenu_bar img {
  border: 0;
  border: none;
}
.wprmenu_clear {
  clear: both !important;
  display: block !important;
  height: 1px !important;
  margin: -1px 0 0 !important;
  width: 1px !important;
}

/*
The top Bar that shows/hides the menu
 */
#wprmenu_bar {
  position: fixed;
  top: 0px;
  left: 0px;
  background: #4C656C;
  padding: 10px 16px;
  width: 100%;
  display: none;
  cursor: pointer;
  z-index: 9999;
  overflow: hidden;
  height: 42px;
  display: none;
}
#wprmenu_bar .menu_title {
  color: #f2f2f2;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  position: relative;
  top: 3px;
}
#wprmenu_bar .bar_logo {
  border: 0px;
  border: none;
  margin: 0px;
  padding: 0px;
  margin-top: -2px;
  padding-right: 8px;
  width: auto;
  height: 25px;
}
#wprmenu_bar .wprmenu_icon {
  margin-right: 5px;
}

/* Search Box */
.wpr_search {
  padding: 10px !important;
}
.wpr_search .wpr-search-field {
  padding: 5px !important;
  border: 1px solid #ccc;
  max-width: 100%;
  width: 100%;
}

/* font icon */
#wprmenu_bar .wprmenu_icon_menu {
  color: #f2f2f2;
  margin-right: 5px;
}
body {
  position: relative !important;
}
#wprmenu_menu.top {
  top: 0px;
  left: 0px;
  width: 100%;
  display: none;
  position: relative;
  z-index: 9999;
}
#wprmenu_menu.left,
#wprmenu_menu.right {
  display: none;
  position: absolute;
  position: fixed;
  top: 0px;
  height: 100%;
  z-index: 97;
  overflow-x: none;
  overflow-y: auto;
  background: #2E2E2E;
  top: 42px;
  padding-bottom: 43px;
}
#mg-wprm-wrap.cbp-spmenu-right.custom,
#mg-wprm-wrap.cbp-spmenu-left.custom { top: 0px !important; }
body.admin-bar #wprmenu_bar {
  top: 32px;
  padding-bottom: 33px;
}
body.admin-bar #wprmenu_menu.left,
body.admin-bar #wprmenu_menu.right {
  top: 74px;
  padding-bottom: 75px;
}
@media only screen and (max-width: 782px) {
  body.admin-bar #wprmenu_menu.left,
  body.admin-bar #wprmenu_menu.right {
    top: 86px;
    padding-bottom: 87px;
  }
  body.admin-bar #wprmenu_bar { top: 46px; }
}
/*1st level*/

#wprmenu_menu ul {
  margin: 0px;
  padding: 0px;
  display: block;
  width: 100%;
  position: relative;
  list-style: none;
}
#wprmenu_menu ul li {
  display: block;
  list-style: none;
}
#wprmenu_menu ul li a,
#wprmenu_menu ul li a:hover {
  border-bottom: 1px solid #131212;
  border-top: 1px solid #474747;
  display: block;
  color: #D3D3D3;
  padding: 13px 14px;
  font-size: 14px;
  margin: 0px;
  text-decoration: none;
}
.admin-bar #custom_menu_icon { margin-top: 50px; }
#wprmenu_menu_ul .sub-menu {
  list-style: none;
  padding: 0;
}
#mg-wprm-wrap.custom .menu_title { display: none; }
/*********/

#wprmenu_menu.wprmenu_levels ul li {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #131212;
  border-top: 1px solid #474747;
  width: 100%;
  position: relative;
}
#wprmenu_menu.wprmenu_levels ul li a {
  float: left;
  border: none;
  width: 100%;
}
#wprmenu_menu.wprmenu_levels a.wprmenu_parent_item {
  border-left: 1px solid #474747;
  margin-left: 44px;
}
#wprmenu_menu .wprmenu_icon_par {
  position: relative;
  display: block;
  color: #CFCFCF;
  width: 46px;
  padding: 13px 14px 10px 14px;
  cursor: pointer;
  float: left;
  position: absolute;
  top: 0px;
  left: 0px;
}
#wprmenu_menu .wprmenu_no_border_bottom {
  border-bottom: none!important;
}
#wprmenu_menu.wprmenu_levels ul li ul {
  border-top: 1px solid #131212;
}
#wprmenu_menu.wprmenu_levels ul li ul li {
  padding-left: 44px;
}
#wprmenu_menu.wprmenu_levels ul li ul li ul li {
  padding-left: 88px;
}
#wprmenu_menu.wprmenu_levels ul li ul li ul li ul li {
  padding-left: 132px;
}
#mg-wprm-wrap ul li ul li ul li ul li ul li {
  padding-left: 128px;
}
#mg-wprm-wrap ul li ul li.wprmenu_parent_item_li {
  padding-left: 0px;
}
#mg-wprm-wrap ul li ul li.wprmenu_parent_item_li .wprmenu_icon_par {
  width: 68px;
}
#mg-wprm-wrap ul li ul li.wprmenu_parent_item_li a.wprmenu_parent_item {
  margin-left: 68px;
}
#mg-wprm-wrap ul li ul li ul li.wprmenu_parent_item_li {
  padding-left: 0px;
}
#mg-wprm-wrap ul li ul li ul li.wprmenu_parent_item_li .wprmenu_icon_par {
  width: 88px;
}
#mg-wprm-wrap ul li ul li ul li.wprmenu_parent_item_li a.wprmenu_parent_item {
  margin-left: 88px;
}
#mg-wprm-wrap ul li ul li ul li ul li.wprmenu_parent_item_li {
  padding-left: 0px;
}
#mg-wprm-wrap ul li ul li ul li ul li.wprmenu_parent_item_li .wprmenu_icon_par {
  width: 108px;
}
#mg-wprm-wrap ul li ul li ul li ul li.wprmenu_parent_item_li a.wprmenu_parent_item {
  margin-left: 108px;
}
#mg-wprm-wrap ul li ul li ul li ul li ul li.wprmenu_parent_item_li {
  padding-left: 0px;
}
#mg-wprm-wrap ul li ul li ul li ul li ul li.wprmenu_parent_item_li .wprmenu_icon_par {
  width: 128px;
}
#mg-wprm-wrap ul li ul li ul li ul li ul li.wprmenu_parent_item_li a.wprmenu_parent_item {
  margin-left: 128px;
}
html body #wprmenu_menu_ul li.wprmenu_parent_item_li > ul {
  margin-left: 0px !important;
}
#mg-wprm-wrap { z-index: 999; }
#mg-wprm-wrap.cbp-spmenu-left {top: 42px !important;}
#mg-wprm-wrap.cbp-spmenu-right,
#mg-wprm-wrap.cbp-spmenu-left,
#mg-wprm-wrap.cbp-spmenu-right.custom,
#mg-wprm-wrap.cbp-spmenu-left.custom {
  overflow-y: scroll;
  top: 0px !important;
}
#mg-wprm-wrap ul li a.wprmenu_parent_item { margin-left: 44px; }
#mg-wprm-wrap ul li a {
  text-decoration: none;
  z-index: 9999;
}
div#mg-wprm-wrap ul li span.wprmenu_icon { font-family: 'wprmenu'; height: 54px; position: relative; }
div#mg-wprm-wrap ul#wprmenu_menu_ul > li > span.wprmenu_icon:before {
  right: 3px;
}
div#mg-wprm-wrap ul li span.wprmenu_icon:before {
  position: absolute;
  top: 18px;
  color: #FFF;
  right: 14px;
}
div#mg-wprm-wrap ul li ul.sub-menu span.wprmenu_icon { margin-left: 0; }

div#mg-wprm-wrap form.wpr-search-form { position: relative; }
div#mg-wprm-wrap form.wpr-search-form button.wpr_submit { 
  position: absolute;
  top: 6px;
  right: 7px;
  background-color: transparent;
  padding: 0;
}
/********/

.icon_default.wprmenu_icon_par:before {
  content: "\74";
  position: absolute;
}
.icon_default.wprmenu_par_opened:before {
  content: "\6f";
}
.wprmenu_icon {
  width: 30px;
  height: 24px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  float: left;
}

span.wprmenu_icon.wprmenu_icon_par { top: 4px; }

.wprmenu_icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #d3531a;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
/* Icon 3 */

.wprmenu_icon span:nth-child(1) {
  top: 0px;
}
.wprmenu_icon span:nth-child(2) {
  top: 9px;
}
.wprmenu_icon span:nth-child(3) {
  top: 9px;
}
.wprmenu_icon span:nth-child(4) {
  top: 18px;
}
.wprmenu_icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.wprmenu_icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.wprmenu_icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.wprmenu_icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
#mg-wprm-wrap.cbp-spmenu-right.custom .menu_title {
  padding: 15px 15px;
  text-align: center;
}
#wprmenu_menu_ul {
  margin-top: 50px;
}
.admin-bar #wprmenu_menu_ul {
  margin-top: 76px;
  position: relative;
  z-index: 9999;
}
#mg-wprm-wrap canvas {
  position: absolute;
  z-index: 99;
}
#wprmenu_menu_ul {
  padding: 0px;
  list-style: none;
}
.custMenu #custom_menu_icon { display: none; }
#mg-wprm-wrap.cbp-spmenu-bottom.cbp-spmenu-open {
  bottom: -42px !important;
}
#mg-wprm-wrap.cbp-spmenu-top.cbp-spmenu-open {
  top: 42px !important;
}
#mg-wprm-wrap.cbp-spmenu-bottom.cbp-spmenu-open.custom {
  bottom: 0px !important;
  overflow-y: scroll;
}
#mg-wprm-wrap.cbp-spmenu-top.cbp-spmenu-open.custom {
  top: 0px !important;
  overflow-y: scroll;
}
.admin-bar #wprmenu_menu_ul li {
  background-color: inherit;
}
#wprmenu_menu_ul {
  padding: 0px;
  list-style: none;
}
.custMenu #custom_menu_icon { display: none; }
#mg-wprm-wrap.cbp-spmenu-bottom.cbp-spmenu-open { bottom: -42px !important; }
#mg-wprm-wrap.cbp-spmenu-top.cbp-spmenu-open { top: 42px !important; }

#mg-wprm-wrap.cbp-spmenu-bottom.cbp-spmenu-open.custom {
  bottom: 0px !important;
  overflow-y: scroll;
}
#mg-wprm-wrap.cbp-spmenu-top.cbp-spmenu-open.custom {
  top: 0px !important;
  overflow-y: scroll;
}
.admin-bar #wprmenu_menu_ul li { background-color: inherit; }
#wprmenu_menu_ul ul.sub-menu { margin-left: 0px; }

div.wpr-clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

div.wpr-clear { display: inline-block; }
/* start commented backslash hack \*/
* html div.wpr-clear { height: 1%; }
div.wpr-clear { display: block; }
/* close commented backslash hack */
/* RTL CSS=====
=======================*/

body.rtl #wprmenu_menu_ul .sub-menu a { padding-right: 14%; }
@media only screen and ( max-width: 768px) {
  .admin-bar #wprmenu_menu_ul {
    margin-top: 76px;
  }
  div.wpr_search {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 8px !important;
    margin-left: 8px !important;
    width: 80% !important;
  }  
}

/* General styles for all menus */
.cbp-spmenu {
  background: #47a3da;
  position: fixed;
}

.cbp-spmenu h3 {
  color: #afdefa;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #0d77b6;
}

.cbp-spmenu a {
  display: block;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}

.cbp-spmenu a:hover {
  background: #258ecd;
}

.cbp-spmenu a:active {
  background: #afdefa;
  color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

.cbp-spmenu-vertical a {
  padding: 1em;
}

.cbp-spmenu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
  height: 100%;
  width: 20%;
  float: left;
}

.cbp-spmenu-horizontal a {
  float: left;
  width: 20%;
  padding: 0.8em;
  border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left { left: -100%; }

.cbp-spmenu-right { right: -100%; }

.cbp-spmenu-left.cbp-spmenu-open { left: 0px; }

.cbp-spmenu-right.cbp-spmenu-open { right: 0px; }

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top { top: -150px; }

.cbp-spmenu-bottom { bottom: -150px; }

.cbp-spmenu-top.cbp-spmenu-open {
  top: 0px;
  overflow-y: scroll;
}

.cbp-spmenu-bottom.cbp-spmenu-open { bottom: 0px; }

/* Push classes applied to the body */

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu-push-toright { left: 240px; }

.cbp-spmenu-push-toleft { left: -240px; }

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


/* Reset */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.icon-drop:before, 
.icon-arrow-left:before {
  font-family: 'fontawesome';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 2;
  text-align: center;
  color: #47a3da;
  -webkit-font-smoothing: antialiased;
  text-indent: 8000px;
  padding-left: 8px;
}

.container > header nav a:hover:before { color: #fff; }

.icon-drop:before {
  content: "\e000";
}

.icon-arrow-left:before {
  content: "\f060";
}


/* Example media queries */
@media screen and (max-width: 55.1875em) {
.cbp-spmenu-horizontal { font-size: 75%; height: 110px; }
.cbp-spmenu-top { top: -100%; }
.cbp-spmenu-bottom { bottom: -100%; }
}
